
@import "./reset.css";


@import "./global.css";


@import "./project.css";


@import "./header.css";


@import "./introduction.css";


@import "./experience.css";


@import "./formation.css";


@import "./footer.css";
