
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');





.navbar .navbar-nav .nav-link { color: rgb(255, 255, 255); }
.navbar .navbar-nav .nav-link:hover { color: #000000; }
.navbar .navbar-nav .active > .nav-link { color: #000000; }


*{
  margin: 0;
    padding: 0;
  font-family:'Mukta', sans-serif ;
}


.bg-nav{
  background-image: url(https://cdn-icons.flaticon.com/png/512/5974/premium/5974726.png?token=exp=1649882995~hmac=8d51db8fc9f80da4304d39d092c83a9c);
}



body{
  margin: 2px;
  background-color:#1d1d1d!important;
}


.nav-item:hover{
  background-color: #ec2e28;
  border-radius: 7pc;

}

.name{
  color: #ec2e28;
  font-weight: bolder;
}

/*ANIMAÇÃO*/
.containerL {
  position       : relative;
  width          : 100%;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.containerL .ring {
  position     : relative;
  width        : 150px;
  height       : 150px;
  margin       : -30px;
  border-radius: 50%;
  border       : 4px solid transparent;
  border-top   : 4px solid #24ecff;
  animation    : animate 4s linear infinite;
}
@keyframes animate {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}
.containerL .ring::before {
  content      : '';
  position     : absolute;
  top          : 12px;
  right        : 12px;
  border-radius: 50%;
  width        : 15px;
  height       : 15px;
  background   : #24ecff;
  box-shadow   : 0 0 0 5px #24ecff33,
      0 0 0 10px #24ecff22,
      0 0 0 20px #24ecff11,
      0 0 20px #24ecff,
      0 0 50px #24ecff;
}
.containerL .ring:nth-child(2) {
  animation      : animate2 4s linear infinite;
  animation-delay: -1s;
  border-top     : 4px solid transparent;
  border-left    : 4px solid #93ff2d;
}

.containerL .ring:nth-child(2)::before {
  content      : '';
  position     : absolute;
  top          : initial;
  bottom       : 12px;
  left         : 12px;
  border-radius: 50%;
  width        : 16px;
  height       : 16px;
  background   : #93ff2d;
  box-shadow   : 0 0 0 5px #93ff2d33,
      0 0 0 10px #93ff2d22,
      0 0 0 20px #93ff2d11,
      0 0 20px #93ff2d,
      0 0 50px #93ff2d;
}
@keyframes animate2 {
  0% {
      transform: rotate(360deg);
  }

  100% {
      transform: rotate(0deg);
  }
}

.containerL .ring:nth-child(3) {
  animation      : animate2 4s linear infinite;
  animation-delay: -3s;
  position       : absolute;
  top            : -66.66px;
  border-top     : 4px solid transparent;
  border-left    : 4px solid #f81c1c;
}
.containerL .ring:nth-child(3)::before {
  content      : '';
  position     : absolute;
  top          : initial;
  bottom       : 12px;
  left         : 12px;
  border-radius: 50%;
  width        : 15px;
  height       : 15px;
  background   : #f81c1c;
  box-shadow   : 0 0 0 5px #f81c1c33,
      0 0 0 10px #f81c1c22,
      0 0 0 20px #f81c1c11,
      0 0 20px #f81c1c,
      0 0 50px #f81c1c;

}

.containerL p {
  position      : absolute;
  color         : #fff;
  font-size     : 1.5em;
  font-family   : 'Inconsolata', monospace;
  bottom        : -80px;
  letter-spacing: 0.15 em;
}
/*ANIMAÇÃO*/


.erikaphoto{
border-style: solid ;
color: #ffffff;
}

.quem::first-letter{
  color: #ec2e28;
  font-size: 55px;
  }


.logo{
 margin: 1em;
  align-items: center;
  justify-content: center;
}

p{
  font-size: 10pt;
}
.card-title{
  font-size: 13pt;
color: whitesmoke;
}

.title1{
font-size: 30pt;
font-weight: bolder;
font-family: ;
color: #ffffff;
}

.cardbg{
background-color: rgb(0, 0, 0);
border-radius: 0.5em;
filter: drop-shadow(0 0 0.5rem #ffffffd3);
}

.tm-social {
  width: 50px;
  height: 50px;
vertical-align:middle;
}


